<!DOCTYPE HTML>
<html>
<head>
	{include file="public/_meta" /}
	<title>我的桌面</title>
</head>
<body>
<div class="wap-container">
	<article class="Hui-admin-content clearfix">
		<div class="row-24 clearfix" style="margin-left: -12px; margin-right: -12px;">
			<div class="col-24-xs-24 col-24-sm-12 col-24-md-12 col-24-lg-12 col-24-xl-6" style="padding-left: 12px; padding-right: 12px; margin-bottom: 24px;">
				<div class="panel">
					<div class="panel-header" style="padding:15px 24px;font-weight: 400;color:#999;">这里还是假的：</div>
					<div class="panel-body" style="padding:0 24px;">
						<div class="c-primary" style="font-size: 30px;line-height: 38px;padding-bottom: 24px;">
							&yen; 9,999,999
						</div>
						<div class="f-14" style="padding: 10px 0;border-top:solid 1px #eee"><span class="c-999">这里还是假的</span> <span>&yen; 1,234</span></div>
					</div>
				</div>
			</div>
			<div class="col-24-xs-24 col-24-sm-12 col-24-md-12 col-24-lg-12 col-24-xl-6" style="padding-left: 12px; padding-right: 12px; margin-bottom: 24px;">
				<div class="panel">
					<div class="panel-header" style="padding:15px 24px;font-weight: 400;color:#999;">总访问量：</div>
					<div class="panel-body" style="padding:0 24px;">
						<div class="c-success" style="font-size: 30px;line-height: 38px;padding-bottom: 24px;">
							9,999,999
						</div>
						<div class="f-14" style="padding: 10px 0;border-top:solid 1px #eee"><span class="c-999">今日访问量</span> <span>1,234</span></div>
					</div>
				</div>
			</div>
			<div class="col-24-xs-24 col-24-sm-12 col-24-md-12 col-24-lg-12 col-24-xl-6" style="padding-left: 12px; padding-right: 12px; margin-bottom: 24px;">
				<div class="panel">
					<div class="panel-header" style="padding:15px 24px;font-weight: 400;color:#999;">总会员数：</div>
					<div class="panel-body" style="padding:0 24px;">
						<div class="c-danger" style="font-size: 30px;line-height: 38px;padding-bottom: 24px;">
							99,999 人
						</div>
						<div class="f-14" style="padding: 10px 0;border-top:solid 1px #eee"><span class="c-999">今日新增会员</span> <span>1,234 人</span></div>
					</div>
				</div>
			</div>
			<div class="col-24-xs-24 col-24-sm-12 col-24-md-12 col-24-lg-12 col-24-xl-6" style="padding-left: 12px; padding-right: 12px; margin-bottom: 24px;">
				<div class="panel">
					<div class="panel-header" style="padding:15px 24px;font-weight: 400;color:#999;">总文章数：</div>
					<div class="panel-body" style="padding:0 24px;">
						<div class="c-warning" style="font-size: 30px;line-height: 38px;padding-bottom: 24px;">
							99,999
						</div>
						<div class="f-14" style="padding: 10px 0;border-top:solid 1px #eee"><span class="c-999">今日新增文章</span> <span>1,234</span></div>
					</div>
				</div>
			</div>
		</div>
</div>
{include file="public/_footer" /}
</body>
</html>
