<section class="Hui-admin-article-wrapper">
<header class="Hui-navbar">
	<div class="navbar">
		<div class="container-fluid clearfix">
			<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar">
				<ul class="clearfix">
					<li id="admin_group"></li>

					<li class="dropDown dropDown_hover">
						<a href="#" class="dropDown_A">
							<span id="admin_name"></span><i class="Hui-iconfont">&#xe6d5;</i>
						</a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="javascript:;" onClick="myselfinfo()">个人信息</a></li>
							<li><a href="#">切换账户</a></li>
							<li><a href="/{$FILE}/adminQuit">退出</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
