<aside class="Hui-admin-aside-wrapper">
	<div class="Hui-admin-logo-wrapper">
		<a class="logo navbar-logo" href="/{$FILE}/Index">
			<i class="va-m iconpic global-logo"></i>
			<span class="va-m">后台管理</span>
		</a>
	</div>
	<div class="Hui-admin-menu-dropdown bk_2" id="catalogue_here">
		<div class="Hui-admin-menu-dropdown bk_2" id="super_admin">

			<dl class="Hui-menu">
				<dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe6ee;</i> <strong>在线命令</strong><i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item">
					<ul>
						<li><a data-href="/{$FILE}/AdminView/commandView" data-title="代码生成">代码生成</a></li>
						<li><a data-href="/{$FILE}/AdminView/catalogueView" data-title="二级目录">二级目录</a></li>
					</ul>
				</dd>
			</dl>

			<dl class="Hui-menu">
				<dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe62b;</i> <strong>权限管理</strong><i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
				<dd class="Hui-menu-item">
					<ul>
						<li><a data-href="/{$FILE}/AdminView/userView" data-title="管理员添加/更改密码">管理员添加/更改密码</a></li>
						<li><a data-href="/{$FILE}/AdminAuthAccess/view" data-title="管理员权限分配">管理员权限分配</a></li>
						<li><a data-href="/{$FILE}/AdminAuthGroup/view" data-title="管理员权限组">管理员权限组</a></li>
					</ul>
				</dd>
			</dl>

		</div>
	</div>
</aside>
<div class="Hui-admin-aside-mask"></div>
<div class="Hui-admin-dislpayArrow">
	<a href="javascript:void(0);" onClick="displaynavbar(this)">
		<i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
		<i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
	</a>
</div>