<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/_meta" /}
</head>
<body>

<div class="wap-container">
    <nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
        首页
        <span class="c-gray en">/</span>
        在线命令
        <span class="c-gray en">/</span>
        代码生成
        <a class="btn btn-success radius f-r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>

    <article class="Hui-admin-content clearfix">

        <div class="row clearfix">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="row clearfix mb-10">
                    <span class="col-xs-4 form-item-label">键：</span>
                    <span class="col-xs-8 form-item-control">
                        <span class="select-box">
                            <select id="searchKey" class="select">
                                <option value="id">自增id</option>
                                <option value="table_name">生成表名</option>
                                <option value="table_comment">表注释</option>
                                <option value="catalogue_bind">二级目录所属</option>
                                <option value="executor">执行人</option>
                                <option value="create_time">创建时间</option>
                            </select>
                        </span>
                    </span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="row clearfix mb-10">
                    <span class="col-xs-4 form-item-label">值：</span>
                    <span class="col-xs-8 form-item-control">
                        <input type="text" id="searchValue" placeholder="输入..." class="input-text" />
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="row clearfix">
                    <span class="col-xs-4 form-item-control">
                        <button id="search_send" class="btn btn-success radius" type="button"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="panel mt-20">
            <div class="panel-body">
                <div class="clearfix">
						<span class="f-l">
							<a href="#" id="add_table_crud" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加表控制器</a>
						</span>
                    <span class="f-r" id='num_room'>共有数据：<strong id='data_num'></strong> 条</span>
                </div>
                <div class="mt-20 clearfix">
                    <table id='dataSingleSet' class="table table-border table-bordered table-bg table-hover table-sort">
                        <thead>
                        <tr>
                            <th scope="col" colspan="8">代码生成记录</th>
                        </tr>
                        <tr class="text-c">
                            <th id='id'>自增id</th>
                            <th id='table_name'>生成表名</th>
                            <th id='table_comment'>表注释</th>
                            <th id='catalogue_bind'>二级目录所属</th>
                            <th id='executor'>执行人</th>
                            <th id='create_time'>创建时间</th>
                        </tr>
                        </thead>
                        <tbody id='dataRoom'>
                        </tbody>
                    </table>
                    <div id="page_set"></div>
                </div>
            </div>
        </div>
    </article>
</div>
{include file="public/_footer" /}
<script src="/assets/js/admin/admin_command/admin.command.js"></script>
</body>
</html>